<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>food</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- navbar -->
    <header>
        <nav class="navbar target">

            <a href="/" class="navbar-link">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>

            {{#if hasUser}}
            <a href="/meals" class="navbar-link">
                <i class="fas fa-utensils"></i>
                <span>Meals</span>
            </a>
            <a href="/profile" class="navbar-link">
                <i class="fas fa-user"></i>
                <span>Profile</span>
            </a>
            <a href="/logout" class="navbar-link">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
            {{else}}
            <a href="/register" class="navbar-link">
                <i class="fas fa-user-plus"></i>
                <span>Register</span>
            </a>
            <a href="/login" class="navbar-link">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>
            </a>
            {{/if}}

            {{!-- <a href="/hamburger" class="navbar-link">
                <i class="fas fa-hamburger"></i>
                <span>burger</span>
            </a> --}}

            {{!-- <a href="/pizza" class="navbar-link">
                <i class="fas fa-pizza-slice"></i>
                <span>pizza</span>
            </a> --}}


        </nav>
        <div class="menu target"></div>
    </header>
    <!-- end of navbar -->

    <main>
        {{{body}}}
    </main>


    <footer>
        <p class="copyright">
            CodeAndCreate &copy; All Rights Reserved
        </p>
    </footer>
    <script src="/static/script.js"></script>
</body>

</html>