<div class="container">
    <!-- section 1 -->
    <section class="section-1">
        <H1 class="section-heading">
            Variety of foods
        </H1>
        <div class="section-1-icons">
            <i id="main-icon" class="fa-solid fa-seedling"></i>
        </div>
    </section>
    <!-- end of section 1 -->
    <!-- section 3 -->
    <section class="section-3">
        <h1 class="section-heading">gallery</h1>
        <div class="gallery">
            {{#each foods}}
            <a href="#" class="gallery-link" title="Order Now">
                <img src="{{this.imageUrl}}" class="food-img">
                <h3 class="food-name">{{this.name}}</h3>
                <p class="food-desceiption">{{this.description}}</p>
            </a>
            {{/each}}
        </div>
    </section>
    <!-- end of section 3 -->
</div>