<div class="container">

    <section class="section-4">
        <div class="section-4-text">
            <h2 class="section-4-heading">Login Me Up</h2>
            <p class="section-4-paragraph">Don't have an account? <a href="/register">Register here</a>.</p>
        </div>
        {{#if errors}}
        <div class="error">
            <ul>
                {{#each errors}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        <form method="post" class="signup-form">

            <input type="email" id="email" name="email" class="signup-form-input" placeholder="enter your email" value="{{email}}">
            <input type="password" id="password" name="password" class="signup-form-input" placeholder="enter your password">


            <div class="signup-form-group">
                <input type="text" class="signup-form-input" placeholder="login now">
                <button type="submit" class="signup-form-btn">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </form>

    </section>


</div>