<div class="section-2">
    <h1 class="section-heading meals-title">popular meals</h1>
    <div class="tabs">
        <button class="tab-btn active tab-icon-btn" data-tab="burgers">
            <i class="fas fa-hamburger"></i>
        </button>
        <button class="tab-btn tab-icon-btn" data-tab="pizzas">
            <i class="fas fa-pizza-slice"></i>
        </button>
    </div>

</div>