<div class="section-2">
    <h1 class="section-heading meals-title">popular meals</h1>
    <div class="tabs">
        <button class="tab-btn active" data-tab="burgers">Burgers</button>
        <button class="tab-btn" data-tab="pizzas">Pizzas</button>
    </div>
   
</div>