<div class="container">

    <section class="section-4">
        <div class="section-4-text">
            <h2 class="section-4-heading">Sign Me Up</h2>
            <p class="section-4-paragraph">Be the first to know about new products</p>
        </div>
        {{#if errors}}
      <div class="error">
        <ul>
          {{#each errors}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
        <form method="post" class="signup-form">
            <input type="name" class="signup-form-input" placeholder="enter your name" value="{{name}}">
            <input type="email" class="signup-form-input" placeholder="enter your email" value="{{email}}">
            <input type="password" class="signup-form-input" placeholder="enter your password" >
            <input type="repeat-password" class="signup-form-input" placeholder="repeat your password">

            <div class="signup-form-group">
                <input type="text" class="signup-form-input" placeholder="register now">
                <button type="submit" class="signup-form-btn">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </form>
        
    </section>


</div>